@font-face {
  font-family: "ALS_Sector";
  src: local("./fonts/ALS_Sector-Bold"),
   url("./fonts/ALS_Sector-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "ALS_Sector";
  src: local("./fonts/ALS_Sector-Regular"),
   url("./fonts/ALS_Sector-Regular.woff") format("woff");
  font-weight: 400;
}


@font-face {
  font-family: "ALS_Sector-Stencil";
  src: local("./fonts/ALS_Sector-Stencil"),
   url("./fonts/ALS_Sector-Stencil.woff") format("woff");
}



body {
  margin: 0;
  font-family: "ALS_Sector", "ALS_Sector-Stencil", 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
